<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />

    <title>RPG Review Scraper</title>

    <meta name="viewport" content="width-device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />

    <link rel="stylesheet" href="assets/css/style.css" />

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="assets/javascript/app.js"></script>
</head>

<body>
    <div id="notFooter">
        <nav id="scraperNavbar" class="navbar fixed-top navbar-expand-md navbar-dark py-4">
            <a id="scraperLogo" class="navbar-brand text-danger" href="/">RPG Review Scraper</a>

            <ul class="navbar-nav">
                <li id="homeLink" class="nav-item">
                    <a class="nav-link scraperNavLink" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link scraperNavLink" href="/saved">Saved Reviews</a>
                </li>
            </ul>

            {{#unless saved.savedPage}}
            <form id="buttonForm" class="form-inline ml-auto">
                <button id="scrapeButton" class="btn btn-danger mr-2" type="submit">Scrape New Reviews</button>

                <button id="clearReviewsButton" class="btn btn-danger" type="submit">Clear Unsaved Reviews</button>
            </form>
            {{/unless}}
        </nav>

        <div id="headerBanner" class="carousel slide mb-3" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="assets/images/planescape-torment.jpg" alt="planescape-torment" />

                    <div class="carousel-caption d-none d-md-block">
                        <h5>Planescape: Torment</h5>

                        <p class="mb-0">1999 | Black Isle Studios / Interplay Entertainment</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/images/chrono-trigger.jpeg" alt="chrono-trigger" />

                    <div class="carousel-caption d-none d-md-block">
                        <h5>Chrono Trigger</h5>

                        <p class="mb-0">1995 | Square Enix</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/images/ffvii.jpg" alt="ffvii" />


                    <div class="carousel-caption d-none d-md-block">
                        <h5>Final Fantasy VII</h5>

                        <p class="mb-0">1997 | Square Enix</p>
                    </div>
                </div>

                <div class="carousel-item">
                    <img class="d-block w-100" src="assets/images/morrowind.jpeg" alt="morrowind" />

                    <div class="carousel-caption d-none d-md-block">
                        <h5>The Elder Scrolls III: Morrowind</h5>

                        <p class="mb-0">2002 | Bethesda Softworks</p>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#headerBanner" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>

                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#headerBanner" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>

                <span class="sr-only">Next</span>
            </a>
        </div>

        {{{body}}}

        <div id="push" class="mt-4"></div>
    </div>

    <footer id="stickyFooter"
        class="mt-auto bg-dark text-center text-white-50 d-flex align-items-center justify-content-center">
        <p class="mb-0">© 2019 Antonio de las Morenas</p>
    </footer>

    <div class="modal" id="scrapeCountModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="scrapeCountHeader" class="modal-header pr-3 pt-2 pb-2 pt-1 border-white">
                    <button type="button" class="scrapeCountClose close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body py-0">
                    <h3 id="scrapeCountNotice" class="pixelated mt-3 pt-2 mb-3 pb-2 text-center">
                        </h2>
                </div>

                <div id="scrapeCountFooter" class="modal-footer p-3 border-white">
                    <button type="button" class="scrapeCountClose btn btn-danger" data-dismiss="modal">Okay</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>