@font-face {
  font-family: "pixel_azure_bonds";
  src: url("/assets/fonts/PixelAzureBonds.ttf") format("truetype");
}

body,
html {
  height: 100%;
}

/* Make <p> elements with no text not display so that links to reviews
with no summary are centered vertically within the empty space */
p:empty {
  display: none;
}

#notFooter {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -110px;
}

#push {
  height: 110px;
}

#scraperLogo {
  font-weight: bold;
  font-family: pixel_azure_bonds, serif !important;
  font-size: 1.5rem;
}

.pixelated {
  font-family: pixel_azure_bonds, serif !important;
}

#headerBanner {
  margin-top: 94px;
  width: 100%;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#commentArea {
  min-height: 8px;
}

#username {
  width: 150px;
}

#commentsHeader {
  border-bottom-color: #dc3545;
  border-width: 2px;
}

#commentsFooter {
  border-top-color: #dc3545;
  border-width: 2px;
}

#stickyFooter {
  font-size: 14px;
  height: 110px;
}

.scoreLabel {
  font-size: 18px !important;
}

.container-fluid hr:last-child {
  display: none;
}

.scraperNavLink {
  padding-top: 10.5px;
}

#scraperNavbar {
  background: black;
}

.reviewScore {
  border-radius: 50%;
  height: 42px;
  width: 42px;
  border-width: 2px !important;
  margin-bottom: 6px;
}

.sadCrono {
  min-height: 128px;
}

.replacementDiv {
  height: 100%;
}

.sourceImage {
  max-width: 100%;
}

.noReviewLink:hover {
  background: #dc3545;
  color: #ffffff !important;
  cursor: pointer;
}

.reviewHr {
  border-width: 1.5px !important;
  background: #dc3545;
}

#commentArea {
  word-wrap: break-word;
}

.carousel-caption {
  display: block !important;
}

.flex-column {
  width: 100%;
}

.form-control {
  width: auto;
}

@media screen and (min-width: 1831px) {
  .commentButton {
    margin-bottom: 0 !important;
    margin-right: 2.5px;
  }
}

@media screen and (max-width: 955px) {
  #scraperNavbar,
  #scrapeButton,
  #clearReviewsButton {
    font-size: 14px !important;
  }

  .container-fluid {
    word-wrap: break-word;
  }
}

@media screen and (max-width: 900px) {
  #scraperNavbar,
  #scrapeButton,
  #clearReviewsButton {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 875px) {
  .commentButton,
  .deleteReviewButton {
    font-size: 12px;
  }
}

@media screen and (max-width: 850px) {
  #scraperLogo {
    font-size: 19.5px;
    margin-right: 8px;
  }

  #headerBanner {
    margin-top: 87px;
  }
}

@media screen and (max-width: 767px) {
  #scraperNavbar,
  #scrapeButton,
  #clearReviewsButton {
    font-size: 14px !important;
  }

  .commentButton,
  .deleteReviewButton {
    font-size: 16px;
  }

  .commentButton {
    margin-bottom: 0 !important;
    margin-right: 1px;
  }

  .deleteReviewButton {
    margin-left: 1px;
  }

  #scraperLogo {
    font-size: 24px;
    margin-right: 16px;
    margin-left: calc(50% - 162.61px);
    margin-right: calc(50% - 162.61px);
  }

  .scoreAndButton {
    margin-right: auto !important;
    margin-top: 16px;
  }

  .navbar-nav,
  .nav-link,
  .nav-item {
    display: inline !important;
  }

  #homeLink {
    margin-right: 12px;
  }

  #scraperLogo {
    margin-bottom: 12px;
  }

  #headerBanner {
    margin-top: 127px;
  }

  #pushCarouselDown {
    height: 14px;
  }

  .carousel-caption {
    max-width: 220px;
    padding: 14px 0;
  }

  .carousel-caption h5 {
    font-size: 16px;
  }

  .carousel-caption p {
    font-size: 12px;
  }
}

@media screen and (max-width: 545px) {
  .navbar-nav {
    margin-left: calc(50% - 91.565px);
    margin-right: calc(50% - 91.565px);
  }

  #scraperLogo {
    padding-top: 0;
    margin-bottom: 4px;
  }

  #buttonForm {
    margin-top: 19.5px;
    margin-right: auto;
  }

  #headerBanner {
    margin-top: 114px;
  }

  #pushCarouselDown {
    height: 54.5px;
  }

  .carousel-caption {
    max-width: 200px;
  }

  .carousel-caption h5 {
    font-size: 13px;
  }

  .carousel-caption p {
    font-size: 10px;
  }
}

@media screen and (max-width: 471px) {
  #username {
    width: 125px;
  }
}

@media screen and (max-width: 446px) {
  #username {
    width: 110px;
  }
}

@media screen and (max-width: 431px) {
  #username {
    flex: 1 1 auto !important;
  }

  #commentInput {
    width: 190px;
  }
}

@media screen and (max-width: 428px) {
  #commentInput {
    width: 177.5px;
  }
}

@media screen and (max-width: 415px) {
  #commentInput {
    width: 165px;
  }

  #scraperLogo {
    font-size: 20px;
    margin-left: calc(50% - 135.51px);
    margin-right: calc(50% - 135.51px);
  }

  .navbar-nav {
    margin-left: calc(50% - 75.08px);
    margin-right: calc(50% - 75.08px);
  }

  #scrapeButton,
  #clearReviewsButton {
    font-size: 10px !important;
  }

  #headerBanner {
    margin-top: 108px;
  }

  #pushCarouselDown {
    height: 48.5px;
  }

  .carousel-caption {
    max-width: 180px;
    padding: 10px 0;
  }

  .carousel-caption h5 {
    font-size: 12px;
  }

  .carousel-caption p {
    font-size: 9px;
  }
}

@media screen and (max-width: 403px) {
  #commentInput {
    width: 155px;
  }
}

@media screen and (max-width: 393px) {
  #commentInput {
    width: 138.5px;
  }
}

@media screen and (max-width: 376px) {
  #commentInput {
    width: 130px;
  }

  .carousel-caption {
    max-width: 160px;
    padding: 8px 0;
  }

  .carousel-caption h5 {
    font-size: 10px;
  }

  .carousel-caption p {
    font-size: 8px;
  }
}

@media screen and (max-width: 368px) {
  #username {
    flex: 0 1 auto !important;
    width: 101.5px;
  }
}

@media screen and (max-width: 359px) {
  .modal-body,
  .commentDeleteButton,
  #username,
  #commentInput,
  #makeComment,
  #commentsClose {
    font-size: 14px;
  }

  .carousel-caption {
    max-width: 150px;
    padding: 6px 0;
  }

  .carousel-caption h5 {
    font-size: 9px;
  }

  .carousel-caption p {
    font-size: 7px;
  }
}

@media screen and (max-width: 354px) {
  #username {
    width: 90px;
  }
}

@media screen and (max-width: 342px) {
  #username {
    flex: 1 1 auto !important;
  }

  #commentInput {
    width: 120px;
  }
}

@media screen and (max-width: 335px) {
  .commentButton {
    margin-bottom: 6px !important;
  }
}

@media screen and (max-width: 332px) {
  #commentInput {
    width: 107px;
  }
}

@media screen and (max-width: 319px) {
  #commentInput {
    width: 100px;
  }
}

@media screen and (max-width: 312px) {
  #username {
    flex: 0 1 auto !important;
    width: 85px;
  }
}

@media screen and (max-width: 307px) {
  #username {
    flex: 0 1 auto !important;
    width: 75px;
  }
}
