@font-face {
  font-family: "pixel_azure_bonds";
  src: url("/assets/fonts/PixelAzureBonds.ttf") format("truetype");
}

body,
html {
  height: 100%;
}

#notFooter {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -110px;
}

#push {
  height: 110px;
}

#scraperLogo {
  font-weight: bold;
  font-family: pixel_azure_bonds, serif !important;
  font-size: 1.5rem;
}

.pixelated {
  font-family: pixel_azure_bonds, serif !important;
}

#headerBanner {
  margin-top: 94px;
  width: 100%;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#commentArea {
  min-height: 8px;
}

#username {
  width: 150px;
}

#commentsHeader {
  border-bottom-color: #dc3545;
  border-width: 2px;
}

#commentsFooter {
  border-top-color: #dc3545;
  border-width: 2px;
}

#stickyFooter {
  font-size: 14px;
  height: 110px;
}

.scoreLabel {
  font-size: 18px !important;
}

.container-fluid hr:last-child {
  display: none;
}

.scraperNavLink {
  padding-top: 10.5px;
}

#scraperNavbar {
  background: black;
}

.reviewScore {
  border-radius: 50%;
  height: 42px;
  width: 42px;
  border-width: 2px !important;
  margin-bottom: 6px;
}

.sadCrono {
  min-height: 128px;
}

.replacementDiv {
  height: 100%;
}

.noReviewLink:hover {
  background: #dc3545;
  color: #ffffff !important;
  cursor: pointer;
}

.reviewHr {
  border-width: 1.5px !important;
}
