@font-face {
  font-family: "pixel_azure_bonds";
  src: url("/assets/fonts/PixelAzureBonds.ttf") format("truetype");
}

body,
html {
  height: 100%;
}

#notFooter {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -80px;
}

#push {
  height: 80px;
}

#scraperLogo {
  font-weight: bold;
  font-family: pixel_azure_bonds, serif !important;
  font-size: 1.5rem;
}

.pixelated {
  font-family: pixel_azure_bonds, serif !important;
}

#headerBanner {
  padding-top: 78px;
  width: 100%;
}

#stickyFooter {
  font-size: 11px;
  height: 80px;
}

.container-fluid hr:last-child {
  display: none;
}

.scraperNavLink {
  padding-top: 10.5px;
}

.reviewScore {
  border-radius: 50%;
  height: 42px;
  width: 42px;
  border-width: 2px !important;
}

.replacementDiv {
  height: 100%;
}

.noReviewLink:hover {
  background: #dc3545;
  color: #FFFFFF !important;
  cursor: pointer;
}

.reviewHr {
  border-width: 1.5px !important;
}